body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1658px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1265px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4828 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:90px;
  width:750px;
  height:1265px;
  display:flex;
}
#u4828 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4829 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:135px;
  width:224px;
  height:72px;
  display:flex;
}
#u4829 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:42px;
}
#u4830 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:150px;
  width:37px;
  height:42px;
  display:flex;
}
#u4830 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#000000;
}
#u4831 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:155px;
  width:112px;
  height:32px;
  display:flex;
  font-size:28px;
  color:#000000;
}
#u4831 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4831_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:308px;
}
#u4832 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:309px;
  width:636px;
  height:308px;
  display:flex;
}
#u4832 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u4833 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:56px;
  width:75px;
  height:23px;
  display:flex;
  font-size:20px;
  color:#000000;
}
#u4833 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4833_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u4834 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:334px;
  width:51px;
  height:69px;
  display:flex;
  font-size:20px;
  color:#000000;
}
#u4834 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4835 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:1249px;
  width:300px;
  height:65px;
  display:flex;
}
#u4835 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4836 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:1249px;
  width:300px;
  height:65px;
  display:flex;
}
#u4836 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4836_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4837 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:928px;
  width:644px;
  height:64px;
  display:flex;
}
#u4837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:241px;
}
#u4838 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:1008px;
  width:300px;
  height:241px;
  display:flex;
}
#u4838 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:241px;
}
#u4839 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:1008px;
  width:301px;
  height:241px;
  display:flex;
}
#u4839 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4839_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u4840 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:948px;
  width:429px;
  height:24px;
  display:flex;
  font-size:20px;
}
#u4840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:24px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u4841 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:948px;
  width:69px;
  height:24px;
  display:flex;
  font-size:20px;
}
#u4841 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u4842 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:928px;
  width:102px;
  height:64px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u4842 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:645px;
  height:174px;
}
#u4843 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:754px;
  width:645px;
  height:174px;
  display:flex;
}
#u4843 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:24px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u4844 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:1269px;
  width:197px;
  height:24px;
  display:flex;
  font-size:20px;
}
#u4844 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u4845 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:1250px;
  width:126px;
  height:64px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u4845 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:24px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u4846 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:1269px;
  width:199px;
  height:24px;
  display:flex;
  font-size:20px;
}
#u4846 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4846_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u4847 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:1250px;
  width:114px;
  height:64px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u4847 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:right;
}
#u4848 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:928px;
  width:163px;
  height:64px;
  display:flex;
  font-size:20px;
  text-align:right;
}
#u4848 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
  text-align:right;
}
#u4849 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:1250px;
  width:67px;
  height:64px;
  display:flex;
  font-size:20px;
  color:#000000;
  text-align:right;
}
#u4849 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
  text-align:right;
}
#u4850 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:1250px;
  width:76px;
  height:64px;
  display:flex;
  font-size:20px;
  color:#000000;
  text-align:right;
}
#u4850 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4851 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:674px;
  width:14px;
  height:37px;
  display:flex;
}
#u4851 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u4852 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:661px;
  width:113px;
  height:64px;
  display:flex;
  font-size:20px;
}
#u4852 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4853 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:674px;
  width:45px;
  height:37px;
  display:flex;
}
#u4853 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4853_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4854 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:674px;
  width:45px;
  height:37px;
  display:flex;
}
#u4854 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4855 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:674px;
  width:45px;
  height:37px;
  display:flex;
}
#u4855 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u4856 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:679px;
  width:21px;
  height:27px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u4856 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u4857 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:679px;
  width:21px;
  height:27px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u4857 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:844px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4858 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:90px;
  width:500px;
  height:844px;
  display:flex;
}
#u4858 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4859 {
  border-width:0px;
  position:absolute;
  left:1143px;
  top:120px;
  width:149px;
  height:48px;
  display:flex;
}
#u4859 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:28px;
}
#u4860 {
  border-width:0px;
  position:absolute;
  left:1160px;
  top:130px;
  width:25px;
  height:28px;
  display:flex;
}
#u4860 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u4861 {
  border-width:0px;
  position:absolute;
  left:1198px;
  top:133px;
  width:72px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#000000;
}
#u4861 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4861_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:205px;
}
#u4862 {
  border-width:0px;
  position:absolute;
  left:1143px;
  top:236px;
  width:424px;
  height:205px;
  display:flex;
}
#u4862 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4863 {
  border-width:0px;
  position:absolute;
  left:1372px;
  top:863px;
  width:200px;
  height:43px;
  display:flex;
}
#u4863 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4864 {
  border-width:0px;
  position:absolute;
  left:1143px;
  top:863px;
  width:200px;
  height:43px;
  display:flex;
}
#u4864 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4865 {
  border-width:0px;
  position:absolute;
  left:1143px;
  top:649px;
  width:429px;
  height:43px;
  display:flex;
}
#u4865 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:161px;
}
#u4866 {
  border-width:0px;
  position:absolute;
  left:1143px;
  top:702px;
  width:200px;
  height:161px;
  display:flex;
}
#u4866 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:161px;
}
#u4867 {
  border-width:0px;
  position:absolute;
  left:1372px;
  top:702px;
  width:201px;
  height:161px;
  display:flex;
}
#u4867 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:16px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u4868 {
  border-width:0px;
  position:absolute;
  left:1154px;
  top:662px;
  width:286px;
  height:16px;
  display:flex;
  font-size:20px;
}
#u4868 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4868_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u4869 {
  border-width:0px;
  position:absolute;
  left:1154px;
  top:662px;
  width:46px;
  height:16px;
  display:flex;
  font-size:20px;
}
#u4869 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u4870 {
  border-width:0px;
  position:absolute;
  left:1154px;
  top:649px;
  width:94px;
  height:43px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u4870 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:116px;
}
#u4871 {
  border-width:0px;
  position:absolute;
  left:1143px;
  top:533px;
  width:430px;
  height:116px;
  display:flex;
}
#u4871 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u4872 {
  border-width:0px;
  position:absolute;
  left:1156px;
  top:876px;
  width:131px;
  height:16px;
  display:flex;
  font-size:20px;
}
#u4872 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u4873 {
  border-width:0px;
  position:absolute;
  left:1156px;
  top:862px;
  width:82px;
  height:43px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u4873 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u4874 {
  border-width:0px;
  position:absolute;
  left:1381px;
  top:876px;
  width:133px;
  height:16px;
  display:flex;
  font-size:20px;
}
#u4874 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u4875 {
  border-width:0px;
  position:absolute;
  left:1381px;
  top:862px;
  width:89px;
  height:43px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u4875 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u4876 {
  border-width:0px;
  position:absolute;
  left:1455px;
  top:649px;
  width:109px;
  height:43px;
  display:flex;
  font-size:16px;
  text-align:right;
}
#u4876 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:right;
}
#u4877 {
  border-width:0px;
  position:absolute;
  left:1282px;
  top:862px;
  width:58px;
  height:43px;
  display:flex;
  font-size:16px;
  color:#000000;
  text-align:right;
}
#u4877 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:right;
}
#u4878 {
  border-width:0px;
  position:absolute;
  left:1516px;
  top:862px;
  width:51px;
  height:43px;
  display:flex;
  font-size:16px;
  color:#000000;
  text-align:right;
}
#u4878 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4879 {
  border-width:0px;
  position:absolute;
  left:1143px;
  top:479px;
  width:9px;
  height:25px;
  display:flex;
}
#u4879 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u4880 {
  border-width:0px;
  position:absolute;
  left:1159px;
  top:471px;
  width:114px;
  height:43px;
  display:flex;
  font-size:18px;
}
#u4880 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4880_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4881 {
  border-width:0px;
  position:absolute;
  left:1262px;
  top:479px;
  width:30px;
  height:25px;
  display:flex;
}
#u4881 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4881_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4882 {
  border-width:0px;
  position:absolute;
  left:1306px;
  top:479px;
  width:30px;
  height:25px;
  display:flex;
}
#u4882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4883 {
  border-width:0px;
  position:absolute;
  left:1351px;
  top:479px;
  width:30px;
  height:25px;
  display:flex;
}
#u4883 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u4884 {
  border-width:0px;
  position:absolute;
  left:1292px;
  top:483px;
  width:14px;
  height:18px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u4884 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u4885 {
  border-width:0px;
  position:absolute;
  left:1336px;
  top:483px;
  width:14px;
  height:18px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u4885 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u4886 {
  border-width:0px;
  position:absolute;
  left:1351px;
  top:56px;
  width:75px;
  height:23px;
  display:flex;
  font-size:20px;
  color:#000000;
}
#u4886 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4886_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u4887 {
  border-width:0px;
  position:absolute;
  left:1615px;
  top:334px;
  width:43px;
  height:69px;
  display:flex;
  font-size:20px;
  color:#000000;
}
#u4887 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4888_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:182px;
  height:19px;
}
#u4888p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:170px;
  height:6px;
}
#u4888p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:6px;
}
#u4888p001 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:22px;
  height:20px;
}
#u4888p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u4888p002 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:-9px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u4888p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u4888 {
  border-width:0px;
  position:absolute;
  left:941px;
  top:403px;
  width:164px;
  height:1px;
  display:flex;
}
#u4888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u4889 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:378px;
  width:90px;
  height:21px;
  display:flex;
  font-size:18px;
  text-align:center;
}
#u4889 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4889_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4890 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:1474px;
  width:100px;
  height:60px;
  display:flex;
}
#u4890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4891 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:1474px;
  width:114px;
  height:60px;
  display:flex;
}
#u4891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4892 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:1504px;
  width:0px;
  height:0px;
}
#u4892_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:86px;
  height:10px;
}
#u4892_seg1 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:-9px;
  width:19px;
  height:18px;
}
#u4892_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4893 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:1474px;
  width:114px;
  height:60px;
  display:flex;
}
#u4893 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4894 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:1504px;
  width:0px;
  height:0px;
}
#u4894_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:93px;
  height:10px;
}
#u4894_seg1 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:-9px;
  width:19px;
  height:18px;
}
#u4894_text {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
