body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:975px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3622 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:194px;
  width:100px;
  height:60px;
  display:flex;
}
#u3622 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3622_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3623 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:425px;
  width:100px;
  height:60px;
  display:flex;
}
#u3623 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3624 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:254px;
  width:0px;
  height:0px;
}
#u3624_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:61px;
}
#u3624_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:43px;
  width:18px;
  height:19px;
}
#u3624_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3625 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:553px;
  width:100px;
  height:60px;
  display:flex;
}
#u3625 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3625_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3626 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:485px;
  width:0px;
  height:0px;
}
#u3626_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:73px;
}
#u3626_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:55px;
  width:18px;
  height:19px;
}
#u3626_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3627 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:670px;
  width:100px;
  height:60px;
  display:flex;
}
#u3627 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3627_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3628 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:613px;
  width:0px;
  height:0px;
}
#u3628_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:62px;
}
#u3628_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:44px;
  width:18px;
  height:19px;
}
#u3628_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3629 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:820px;
  width:100px;
  height:60px;
  display:flex;
}
#u3629 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3629_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3630 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:700px;
  width:0px;
  height:0px;
}
#u3630_seg0 {
  border-width:0px;
  position:absolute;
  left:-170px;
  top:-5px;
  width:170px;
  height:10px;
}
#u3630_seg1 {
  border-width:0px;
  position:absolute;
  left:-170px;
  top:-5px;
  width:10px;
  height:125px;
}
#u3630_seg2 {
  border-width:0px;
  position:absolute;
  left:-174px;
  top:107px;
  width:18px;
  height:19px;
}
#u3630_text {
  border-width:0px;
  position:absolute;
  left:-192px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:164px;
}
#u3631 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:768px;
  width:220px;
  height:164px;
  display:flex;
}
#u3631 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3631_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3632 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:700px;
  width:0px;
  height:0px;
}
#u3632_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:46px;
  height:10px;
}
#u3632_seg1 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-5px;
  width:10px;
  height:73px;
}
#u3632_seg2 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:55px;
  width:18px;
  height:19px;
}
#u3632_text {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:6px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3633 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:850px;
  width:0px;
  height:0px;
}
#u3633_seg0 {
  border-width:0px;
  position:absolute;
  left:-146px;
  top:-5px;
  width:151px;
  height:10px;
}
#u3633_seg1 {
  border-width:0px;
  position:absolute;
  left:-152px;
  top:-9px;
  width:19px;
  height:18px;
}
#u3633_text {
  border-width:0px;
  position:absolute;
  left:-123px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3634 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:932px;
  width:0px;
  height:0px;
}
#u3634_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:61px;
}
#u3634_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:43px;
  width:18px;
  height:19px;
}
#u3634_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3635 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:988px;
  width:100px;
  height:60px;
  display:flex;
}
#u3635 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3635_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3636 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:553px;
  width:100px;
  height:60px;
  display:flex;
}
#u3636 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3636_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3637 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:494px;
  width:0px;
  height:0px;
  color:#1E1E1E;
}
#u3637_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:64px;
}
#u3637_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:46px;
  width:18px;
  height:19px;
}
#u3637_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3638 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:553px;
  width:100px;
  height:60px;
  display:flex;
}
#u3638 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:79px;
}
#u3639 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:415px;
  width:109px;
  height:79px;
  display:flex;
}
#u3639 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3640 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:455px;
  width:0px;
  height:0px;
}
#u3640_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:83px;
  height:10px;
}
#u3640_seg1 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-9px;
  width:19px;
  height:18px;
}
#u3640_text {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3641 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:455px;
  width:0px;
  height:0px;
}
#u3641_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:84px;
  height:10px;
}
#u3641_seg1 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:-9px;
  width:19px;
  height:18px;
}
#u3641_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:79px;
}
#u3642 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:415px;
  width:109px;
  height:79px;
  display:flex;
}
#u3642 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3643 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:494px;
  width:0px;
  height:0px;
}
#u3643_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:64px;
}
#u3643_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:46px;
  width:18px;
  height:19px;
}
#u3643_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3644 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:425px;
  width:100px;
  height:60px;
  display:flex;
}
#u3644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3645 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:455px;
  width:0px;
  height:0px;
}
#u3645_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:83px;
  height:10px;
}
#u3645_seg1 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-9px;
  width:19px;
  height:18px;
}
#u3645_text {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3646 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:310px;
  width:100px;
  height:60px;
  display:flex;
}
#u3646 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3647 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:370px;
  width:0px;
  height:0px;
}
#u3647_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:60px;
}
#u3647_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:42px;
  width:18px;
  height:19px;
}
#u3647_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3648 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:310px;
  width:100px;
  height:60px;
  display:flex;
}
#u3648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3649 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:340px;
  width:0px;
  height:0px;
}
#u3649_seg0 {
  border-width:0px;
  position:absolute;
  left:-105px;
  top:-5px;
  width:110px;
  height:10px;
}
#u3649_seg1 {
  border-width:0px;
  position:absolute;
  left:-111px;
  top:-9px;
  width:19px;
  height:18px;
}
#u3649_text {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3650 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:310px;
  width:100px;
  height:60px;
  display:flex;
}
#u3650 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3651 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:340px;
  width:0px;
  height:0px;
}
#u3651_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:115px;
  height:10px;
}
#u3651_seg1 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:-9px;
  width:19px;
  height:18px;
}
#u3651_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3652 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:1152px;
  width:100px;
  height:60px;
  display:flex;
}
#u3652 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3653 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:1383px;
  width:100px;
  height:60px;
  display:flex;
}
#u3653 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3654 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:1212px;
  width:0px;
  height:0px;
}
#u3654_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:61px;
}
#u3654_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:43px;
  width:18px;
  height:19px;
}
#u3654_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3655 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:1511px;
  width:100px;
  height:60px;
  display:flex;
}
#u3655 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3656 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:1443px;
  width:0px;
  height:0px;
}
#u3656_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:73px;
}
#u3656_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:55px;
  width:18px;
  height:19px;
}
#u3656_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3657 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:1511px;
  width:100px;
  height:60px;
  display:flex;
}
#u3657 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3658 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:1452px;
  width:0px;
  height:0px;
  color:#1E1E1E;
}
#u3658_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:64px;
}
#u3658_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:46px;
  width:18px;
  height:19px;
}
#u3658_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3659 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1511px;
  width:100px;
  height:60px;
  display:flex;
}
#u3659 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:79px;
}
#u3660 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:1373px;
  width:109px;
  height:79px;
  display:flex;
}
#u3660 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3661 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:1413px;
  width:0px;
  height:0px;
}
#u3661_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:83px;
  height:10px;
}
#u3661_seg1 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-9px;
  width:19px;
  height:18px;
}
#u3661_text {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3662 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:1413px;
  width:0px;
  height:0px;
}
#u3662_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:84px;
  height:10px;
}
#u3662_seg1 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:-9px;
  width:19px;
  height:18px;
}
#u3662_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:79px;
}
#u3663 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:1373px;
  width:109px;
  height:79px;
  display:flex;
}
#u3663 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3664 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:1452px;
  width:0px;
  height:0px;
}
#u3664_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:64px;
}
#u3664_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:46px;
  width:18px;
  height:19px;
}
#u3664_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3665 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:1383px;
  width:100px;
  height:60px;
  display:flex;
}
#u3665 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3665_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3666 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:1413px;
  width:0px;
  height:0px;
}
#u3666_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:83px;
  height:10px;
}
#u3666_seg1 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-9px;
  width:19px;
  height:18px;
}
#u3666_text {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3667 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:1268px;
  width:100px;
  height:60px;
  display:flex;
}
#u3667 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3668 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:1328px;
  width:0px;
  height:0px;
}
#u3668_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:60px;
}
#u3668_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:42px;
  width:18px;
  height:19px;
}
#u3668_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3669 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:1268px;
  width:100px;
  height:60px;
  display:flex;
}
#u3669 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3670 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:1298px;
  width:0px;
  height:0px;
}
#u3670_seg0 {
  border-width:0px;
  position:absolute;
  left:-105px;
  top:-5px;
  width:110px;
  height:10px;
}
#u3670_seg1 {
  border-width:0px;
  position:absolute;
  left:-111px;
  top:-9px;
  width:19px;
  height:18px;
}
#u3670_text {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3671 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:1268px;
  width:100px;
  height:60px;
  display:flex;
}
#u3671 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3672 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:1298px;
  width:0px;
  height:0px;
}
#u3672_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:115px;
  height:10px;
}
#u3672_seg1 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:-9px;
  width:19px;
  height:18px;
}
#u3672_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
