body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:849px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:697px;
  height:395px;
}
#u2071 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:122px;
  width:697px;
  height:395px;
  display:flex;
}
#u2071 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2071_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:187px;
}
#u2072 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:226px;
  width:187px;
  height:187px;
  display:flex;
}
#u2072 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2072_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2073_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:44px;
  height:49px;
}
#u2073 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:177px;
  width:34px;
  height:39px;
  display:flex;
}
#u2073 .text {
  position:absolute;
  align-self:center;
  padding:2.17159763313609px 2px 12px 2.72950819672131px;
  box-sizing:border-box;
  width:100%;
}
#u2073_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2074_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:44px;
  height:49px;
}
#u2074 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:255px;
  width:34px;
  height:39px;
  display:flex;
}
#u2074 .text {
  position:absolute;
  align-self:center;
  padding:2.17159763313609px 2px 12px 2.72950819672131px;
  box-sizing:border-box;
  width:100%;
}
#u2074_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:697px;
  height:395px;
}
#u2075 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:542px;
  width:697px;
  height:395px;
  display:flex;
}
#u2075 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2075_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:697px;
  height:395px;
}
#u2076 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:989px;
  width:697px;
  height:395px;
  display:flex;
}
#u2076 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2076_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2077_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:187px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
  color:#000000;
}
#u2077 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:1093px;
  width:187px;
  height:187px;
  display:flex;
  font-size:16px;
  color:#000000;
}
#u2077 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2077_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:187px;
}
#u2078 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:646px;
  width:187px;
  height:187px;
  display:flex;
}
#u2078 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2078_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
