body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:849px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:697px;
  height:395px;
}
#u4637 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:122px;
  width:697px;
  height:395px;
  display:flex;
}
#u4637 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:187px;
}
#u4638 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:226px;
  width:187px;
  height:187px;
  display:flex;
}
#u4638 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4639_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:44px;
  height:49px;
}
#u4639 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:177px;
  width:34px;
  height:39px;
  display:flex;
}
#u4639 .text {
  position:absolute;
  align-self:center;
  padding:2.17159763313609px 2px 12px 2.72950819672131px;
  box-sizing:border-box;
  width:100%;
}
#u4639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4640_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:44px;
  height:49px;
}
#u4640 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:255px;
  width:34px;
  height:39px;
  display:flex;
}
#u4640 .text {
  position:absolute;
  align-self:center;
  padding:2.17159763313609px 2px 12px 2.72950819672131px;
  box-sizing:border-box;
  width:100%;
}
#u4640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:697px;
  height:395px;
}
#u4641 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:542px;
  width:697px;
  height:395px;
  display:flex;
}
#u4641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:697px;
  height:395px;
}
#u4642 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:989px;
  width:697px;
  height:395px;
  display:flex;
}
#u4642 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:187px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
  color:#000000;
}
#u4643 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:1093px;
  width:187px;
  height:187px;
  display:flex;
  font-size:16px;
  color:#000000;
}
#u4643 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:187px;
}
#u4644 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:646px;
  width:187px;
  height:187px;
  display:flex;
}
#u4644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
