body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:675px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3680 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:51px;
  width:100px;
  height:60px;
  display:flex;
}
#u3680 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3681 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:153px;
  width:100px;
  height:60px;
  display:flex;
}
#u3681 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3682 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:111px;
  width:0px;
  height:0px;
}
#u3682_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:47px;
}
#u3682_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:29px;
  width:18px;
  height:19px;
}
#u3682_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3683 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:153px;
  width:100px;
  height:60px;
  display:flex;
}
#u3683 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3684 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:268px;
  width:100px;
  height:60px;
  display:flex;
}
#u3684 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3685 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:183px;
  width:0px;
  height:0px;
}
#u3685_seg0 {
  border-width:0px;
  position:absolute;
  left:-81px;
  top:-5px;
  width:86px;
  height:10px;
}
#u3685_seg1 {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:-9px;
  width:19px;
  height:18px;
}
#u3685_text {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3686 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:213px;
  width:0px;
  height:0px;
}
#u3686_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:60px;
}
#u3686_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:42px;
  width:18px;
  height:19px;
}
#u3686_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3687 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:298px;
  width:0px;
  height:0px;
}
#u3687_seg0 {
  border-width:0px;
  position:absolute;
  left:-136px;
  top:-5px;
  width:136px;
  height:10px;
}
#u3687_seg1 {
  border-width:0px;
  position:absolute;
  left:-136px;
  top:-85px;
  width:10px;
  height:90px;
}
#u3687_seg2 {
  border-width:0px;
  position:absolute;
  left:-140px;
  top:-91px;
  width:18px;
  height:19px;
}
#u3687_text {
  border-width:0px;
  position:absolute;
  left:-158px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3688 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:387px;
  width:100px;
  height:60px;
  display:flex;
}
#u3688 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3689 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:328px;
  width:0px;
  height:0px;
}
#u3689_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:64px;
}
#u3689_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:46px;
  width:18px;
  height:19px;
}
#u3689_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3690 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:387px;
  width:100px;
  height:60px;
  display:flex;
}
#u3690 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3691 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:417px;
  width:0px;
  height:0px;
}
#u3691_seg0 {
  border-width:0px;
  position:absolute;
  left:-81px;
  top:-5px;
  width:86px;
  height:10px;
}
#u3691_seg1 {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:-9px;
  width:19px;
  height:18px;
}
#u3691_text {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3692 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:509px;
  width:100px;
  height:60px;
  display:flex;
}
#u3692 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3693 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:447px;
  width:0px;
  height:0px;
}
#u3693_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:67px;
}
#u3693_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:49px;
  width:18px;
  height:19px;
}
#u3693_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3694 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:539px;
  width:0px;
  height:0px;
}
#u3694_seg0 {
  border-width:0px;
  position:absolute;
  left:-136px;
  top:-5px;
  width:136px;
  height:10px;
}
#u3694_seg1 {
  border-width:0px;
  position:absolute;
  left:-136px;
  top:-92px;
  width:10px;
  height:97px;
}
#u3694_seg2 {
  border-width:0px;
  position:absolute;
  left:-140px;
  top:-98px;
  width:18px;
  height:19px;
}
#u3694_text {
  border-width:0px;
  position:absolute;
  left:-162px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3695 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:624px;
  width:100px;
  height:60px;
  display:flex;
}
#u3695 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3695_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3696 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:569px;
  width:0px;
  height:0px;
}
#u3696_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:60px;
}
#u3696_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:42px;
  width:18px;
  height:19px;
}
#u3696_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3697_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:213px;
  height:117px;
}
#u3697 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:204px;
  width:203px;
  height:107px;
  display:flex;
}
#u3697 .text {
  position:absolute;
  align-self:center;
  padding:2.63313609467455px 2.0000000000004px 2.00000000000004px 42.5326758328928px;
  box-sizing:border-box;
  width:100%;
}
#u3697_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
