body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:459px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:91px;
}
#u4895 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:38px;
  width:349px;
  height:91px;
  display:flex;
}
#u4895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:94px;
}
#u4896 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:129px;
  width:349px;
  height:94px;
  display:flex;
}
#u4896 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:281px;
}
#u4897 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:223px;
  width:349px;
  height:281px;
  display:flex;
}
#u4897 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:337px;
}
#u4898 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:504px;
  width:349px;
  height:337px;
  display:flex;
}
#u4898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:242px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4899 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:834px;
  width:330px;
  height:242px;
  display:flex;
}
#u4899 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:377px;
}
#u4900 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:561px;
  width:312px;
  height:377px;
  display:flex;
}
#u4900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4901 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:352px;
  width:186px;
  height:144px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:right;
}
#u4903 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:153px;
  width:80px;
  height:18px;
  display:flex;
  font-size:16px;
  color:#000000;
  text-align:right;
}
#u4903 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4903_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u4904 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:154px;
  width:201px;
  height:16px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u4904 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4904_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u4905 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:192px;
  width:90px;
  height:36px;
  display:flex;
  font-size:16px;
  text-align:right;
}
#u4905 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4906 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:192px;
  width:100px;
  height:35px;
  display:flex;
}
#u4906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u4907 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:192px;
  width:28px;
  height:36px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u4907 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4908_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:44px;
  height:49px;
}
#u4908 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:45px;
  width:34px;
  height:39px;
  display:flex;
}
#u4908 .text {
  position:absolute;
  align-self:center;
  padding:2.17159763313609px 2px 12px 2.72950819672131px;
  box-sizing:border-box;
  width:100%;
}
#u4908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4909_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:57px;
  height:39px;
}
#u4909 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:192px;
  width:47px;
  height:29px;
  display:flex;
}
#u4909 .text {
  position:absolute;
  align-self:center;
  padding:2.17159763313609px 15px 2px 2.72950819672131px;
  box-sizing:border-box;
  width:100%;
}
#u4909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4910_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:57px;
  height:39px;
}
#u4910 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:295px;
  width:47px;
  height:29px;
  display:flex;
}
#u4910 .text {
  position:absolute;
  align-self:center;
  padding:2.17159763313609px 15px 2px 2.72950819672131px;
  box-sizing:border-box;
  width:100%;
}
#u4910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4911_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:57px;
  height:39px;
}
#u4911 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:352px;
  width:47px;
  height:29px;
  display:flex;
}
#u4911 .text {
  position:absolute;
  align-self:center;
  padding:2.17159763313609px 15px 2px 2.72950819672131px;
  box-sizing:border-box;
  width:100%;
}
#u4911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4912_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:57px;
  height:39px;
}
#u4912 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:604px;
  width:47px;
  height:29px;
  display:flex;
}
#u4912 .text {
  position:absolute;
  align-self:center;
  padding:2.17159763313609px 15px 2px 2.72950819672131px;
  box-sizing:border-box;
  width:100%;
}
#u4912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
