body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:459px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:91px;
}
#u2216 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:38px;
  width:349px;
  height:91px;
  display:flex;
}
#u2216 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:94px;
}
#u2217 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:129px;
  width:349px;
  height:94px;
  display:flex;
}
#u2217 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:281px;
}
#u2218 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:223px;
  width:349px;
  height:281px;
  display:flex;
}
#u2218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:337px;
}
#u2219 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:504px;
  width:349px;
  height:337px;
  display:flex;
}
#u2219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:242px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2220 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:834px;
  width:330px;
  height:242px;
  display:flex;
}
#u2220 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:377px;
}
#u2221 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:561px;
  width:312px;
  height:377px;
  display:flex;
}
#u2221 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2222 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:352px;
  width:186px;
  height:144px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:right;
}
#u2224 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:153px;
  width:80px;
  height:18px;
  display:flex;
  font-size:16px;
  color:#000000;
  text-align:right;
}
#u2224 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2224_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u2225 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:154px;
  width:201px;
  height:16px;
  display:flex;
  font-size:14px;
  color:#000000;
}
#u2225 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2225_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u2226 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:192px;
  width:90px;
  height:36px;
  display:flex;
  font-size:16px;
  text-align:right;
}
#u2226 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2227 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:192px;
  width:100px;
  height:35px;
  display:flex;
}
#u2227 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2227_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2228 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:192px;
  width:28px;
  height:36px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u2228 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2229_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:44px;
  height:49px;
}
#u2229 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:45px;
  width:34px;
  height:39px;
  display:flex;
}
#u2229 .text {
  position:absolute;
  align-self:center;
  padding:2.17159763313609px 2px 12px 2.72950819672131px;
  box-sizing:border-box;
  width:100%;
}
#u2229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2230_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:57px;
  height:39px;
}
#u2230 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:192px;
  width:47px;
  height:29px;
  display:flex;
}
#u2230 .text {
  position:absolute;
  align-self:center;
  padding:2.17159763313609px 15px 2px 2.72950819672131px;
  box-sizing:border-box;
  width:100%;
}
#u2230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2231_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:57px;
  height:39px;
}
#u2231 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:295px;
  width:47px;
  height:29px;
  display:flex;
}
#u2231 .text {
  position:absolute;
  align-self:center;
  padding:2.17159763313609px 15px 2px 2.72950819672131px;
  box-sizing:border-box;
  width:100%;
}
#u2231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2232_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:57px;
  height:39px;
}
#u2232 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:352px;
  width:47px;
  height:29px;
  display:flex;
}
#u2232 .text {
  position:absolute;
  align-self:center;
  padding:2.17159763313609px 15px 2px 2.72950819672131px;
  box-sizing:border-box;
  width:100%;
}
#u2232_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2233_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:57px;
  height:39px;
}
#u2233 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:604px;
  width:47px;
  height:29px;
  display:flex;
}
#u2233 .text {
  position:absolute;
  align-self:center;
  padding:2.17159763313609px 15px 2px 2.72950819672131px;
  box-sizing:border-box;
  width:100%;
}
#u2233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
