body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1257px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:557px;
}
#u2322 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:50px;
  width:1141px;
  height:557px;
  display:flex;
}
#u2322 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2322_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2323_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:44px;
  height:49px;
}
#u2323 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:209px;
  width:34px;
  height:39px;
  display:flex;
}
#u2323 .text {
  position:absolute;
  align-self:center;
  padding:2.17159763313609px 2px 12px 2.72950819672131px;
  box-sizing:border-box;
  width:100%;
}
#u2323_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2324_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:57px;
  height:39px;
}
#u2324 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:209px;
  width:47px;
  height:29px;
  display:flex;
}
#u2324 .text {
  position:absolute;
  align-self:center;
  padding:2.17159763313609px 15px 2px 2.72950819672131px;
  box-sizing:border-box;
  width:100%;
}
#u2324_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2325_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:59px;
  height:39px;
}
#u2325 {
  border-width:0px;
  position:absolute;
  left:1206px;
  top:50px;
  width:49px;
  height:29px;
  display:flex;
}
#u2325 .text {
  position:absolute;
  align-self:center;
  padding:2.17159763313609px 2.00000000000001px 2px 17.7295081967213px;
  box-sizing:border-box;
  width:100%;
}
#u2325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2326_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:59px;
  height:39px;
}
#u2326 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:138px;
  width:49px;
  height:29px;
  display:flex;
}
#u2326 .text {
  position:absolute;
  align-self:center;
  padding:2.17159763313609px 2.00000000000001px 2px 17.7295081967213px;
  box-sizing:border-box;
  width:100%;
}
#u2326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2327_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:59px;
  height:39px;
}
#u2327 {
  border-width:0px;
  position:absolute;
  left:1131px;
  top:219px;
  width:49px;
  height:29px;
  display:flex;
}
#u2327 .text {
  position:absolute;
  align-self:center;
  padding:2.17159763313609px 2.00000000000001px 2px 17.7295081967213px;
  box-sizing:border-box;
  width:100%;
}
#u2327_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2328_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:59px;
  height:39px;
}
#u2328 {
  border-width:0px;
  position:absolute;
  left:1176px;
  top:354px;
  width:49px;
  height:29px;
  display:flex;
}
#u2328 .text {
  position:absolute;
  align-self:center;
  padding:2.17159763313609px 2.00000000000001px 2px 17.7295081967213px;
  box-sizing:border-box;
  width:100%;
}
#u2328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2329_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:59px;
  height:39px;
}
#u2329 {
  border-width:0px;
  position:absolute;
  left:1159px;
  top:445px;
  width:49px;
  height:29px;
  display:flex;
}
#u2329 .text {
  position:absolute;
  align-self:center;
  padding:2.17159763313609px 2.00000000000001px 2px 17.7295081967213px;
  box-sizing:border-box;
  width:100%;
}
#u2329_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2330_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:59px;
  height:39px;
}
#u2330 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:96px;
  width:49px;
  height:29px;
  display:flex;
}
#u2330 .text {
  position:absolute;
  align-self:center;
  padding:2.17159763313609px 2.00000000000001px 2px 17.7295081967213px;
  box-sizing:border-box;
  width:100%;
}
#u2330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2331_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:59px;
  height:39px;
}
#u2331 {
  border-width:0px;
  position:absolute;
  left:1208px;
  top:530px;
  width:49px;
  height:29px;
  display:flex;
}
#u2331 .text {
  position:absolute;
  align-self:center;
  padding:2.17159763313609px 2.00000000000001px 2px 17.7295081967213px;
  box-sizing:border-box;
  width:100%;
}
#u2331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
